.idea
build/

node_modules/

coverage/
coverage.json

artifacts/
contracts-bak/

cache/

runtime.log

.env

*.deployed.json

contracts/newapnft/
newnft*
MerkleDistributorPFP*
test/merkle/
CoreskyHubRevert.sol